// BOILERPLATE

// Les variables
$arriere-plan: #e6e6e6;
$bleu-gris: #455a64;
$focus-visible: rgb(0, 123, 255);
$or: #c89d38;
$texte: #545454;

html {
    font-size: 16px;
}

// DÉCLARATION GÉNÉRALE

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem 4rem;
}

h1 {
    margin-bottom: 3rem;
}

h2, h3 {
    margin-bottom: 1rem;
    text-decoration: underline;
}

h3 {
    margin-bottom: 0.25rem;
}

.btn {
    background-color: lightgreen;
    margin: 0.75rem 0;
    padding: 0.25em 0.5em;
}

.administrateur {
    background-color: #d4d4d4;
}

.employes {
    background-color: #f3f3f3; 
}

form {
    input:focus-visible {
        background-color: $focus-visible;
    }
}

.deconnexion {
    margin-bottom: 3em;
    text-align: right;
}

.logo {
    display: block;

    margin: .5rem auto 2rem;
}

.conteneurmodification {
    margin-bottom: 3rem;

    form.modificationutilisateur {
        margin-bottom: 5rem;
    }

    .conteneur {
        margin-bottom: 1rem;
        max-width: 650px;
        padding: 1em;

        .prix {
            margin-right: 0.5rem;
        }

        .suppression {
            font-size: 12px;
            margin-left: 15rem;
        }
    }
}